<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/header.ejs')%>
    <title>Quotes</title>
</head>
<body>
    <%-include('partials/nav.ejs')%>
    <h1 class="m-5"> All Quotes </h1>
    
    <div class="m-5 fs-5">
        <% for (let i of quotes) { %>
            <div class="p-1">
                <b><%=i.firstName%> <%=i.lastName%>:</b><br>
                <%=i.quote%><br>
                <a href="/updateQuote?quoteId=<%=i.quoteId%>" class="btn btn-warning"> Update </a>
                <a href="/deleteQuote?quoteId=<%=i.quoteId%>" class="btn btn-danger"> Delete </a>
                <br>
            </div>
        <% } %>    
    </div>
        
    <%-include('partials/footer.ejs')%>
</body>
</html>