<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/header.ejs')%>
    <title>Update Author</title>
</head>
<body>
    <%-include('partials/nav.ejs')%>
    
    <h1 class="m-5"> Updating Author </h1>

    <div class="m-5">
        <form action="/updateAuthor" method="POST">
            <input type="hidden" name="authorId" value="<%= authorInfo[0].authorId %>">

            <div class="input-group">
                <span class="input-group-text" id="visible-addon">First Name</span>
                <input type="text" class="form-control" name="firstName" placeholder="First Name" value="<%=authorInfo[0].firstName%>" aria-label="firstName" aria-describedby="visible-addon" style="max-width: fit-content;">
            </div>
            <div class="input-group">
                <span class="input-group-text" id="visible-addon">Last Name</span>
                <input type="text" class="form-control" name="lastName" placeholder="Last Name" value="<%=authorInfo[0].lastName%>" aria-label="lastName" aria-describedby="visible-addon" style="max-width: fit-content;">
            </div>
            <div class="input-group">
                <span class="input-group-text" id="visible-addon">Date of Birth</span>
                <input type="date" class="form-control" name="dob" value="<%=authorInfo[0].ISOdob%>" placeholder="Date of Birth" aria-label="dob" aria-describedby="visible-addon" style="max-width: fit-content;">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sex" <%=(authorInfo[0].sex == 'F') ? "checked" : "" %> value="F">
                <label class="form-check-label">F</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sex" <%=(authorInfo[0].sex == 'M') ? "checked" : "" %> value="M">
                <label class="form-check-label">M</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Biography" name="bio" id="bio" style="max-width: fit-content;"><%=authorInfo[0].biography%></textarea>
                <label for="floatingTextarea">Biography</label>
            </div>

            <button class="btn btn-success" style="max-width: fit-content;">Update Author!</button>
        </form>
    </div>

    <%-include('partials/footer.ejs')%>
</body>
</html>