<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/header.ejs')%>
    <title>Update Quote</title>
</head>
<body>
    <%-include('partials/nav.ejs')%>

    <h1 class="m-5"> Update Quote </h1>

    <div class="m-5">
        <form action="/updateQuote" method="POST">
            <input type="hidden" name="quoteId" value="<%=quoteInfo[0].quoteId%>">

            <div class="form-floating">
                <textarea class="form-control" placeholder="Biography" name="quote" id="quote" style="max-width: fit-content;"><%=quoteInfo[0].quote%></textarea>
                <label for="quote">Quote</label>
            </div>

            <select class="form-select" name="category" aria-label="category" style="max-width: fit-content;">
                <!-- List of categories comes from the db -->
                <option value="">Select Quote</option>
                <% for (let i of categories) { %>
                    <option <%=(quoteInfo[0].category == i.category)?"selected":""%> value="<%=i.category%>">
                        <%=i.category%>
                    </option>
                <% } %>
            </select>
            <select class="form-select" name="authorId" aria-label="authors" style="max-width: fit-content;">
                <!-- List of authors comes from the db -->
                <option value="">Select Author</option>
                <% for (let i of authorList) { %>
                    <option <%=(quoteInfo[0].authorId == i.authorId) ? "selected" : ""%> value="<%=i.authorId%>">
                        <%=i.firstName%> <%=i.lastName%>
                    </option>
                <% } %>
            </select>

            <button class="btn btn-success">Update Quote!</button>
        </form>
    </div>

    <%-include('partials/footer.ejs')%>
</body>
</html>